body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}
h1, h4 {
    font-weight: normal;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 60px;
}
h2 {
    font-weight: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    background-color: #333;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.logout-btn {
    display: flex;
    align-items: center;
    background-color: #f05454;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 80px;
}
.logout-btn:hover {
    background-color: #d94343;
}
.logout-btn i {
    margin-right: 8px;
}
.datetime {
    font-size: 14px;
    color: white;
    margin-left: 30px;
}
.container, .contatori-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.cisterna-container, .contatore-container {
    text-align: center;
}
.separator {
    height: 2px;
    background-color: #444;
    width: 80%;
    margin: 30px auto;
}
.cisterna, .contatore-box {
    background-color: #333;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.cisterna {
    width: 150px;
    height: 220px;
    position: relative;
}
.livello {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #007bff;
    transition: height 0.5s ease;
    border-radius: 12px;
}
.titolo {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.quantita, .max, .contatore-valore {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.contatore-box {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
/* Responsività per schermi più piccoli */
@media (max-width: 768px) {
    h1, h4 {
        margin-left: 20px;
        font-size: 18px;
    }
    .container, .contatori-container {
        flex-direction: column;
        align-items: center;
    }
    .cisterna-container, .contatore-container {
        margin-bottom: 20px;
    }
    .cisterna, .contatore-box {
        width: 100%;
        max-width: 300px;
    }
    .logout-btn {
        margin-right: 30px;
    }
}
